<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>rain.cloud</title>
</head>
<body>
    <div class="container">
        <header>
            <div><img class="topcon"
            src="/icons/pngegg.png" alt="rain cloud"></div>
        </header>
        <h1>rain.cloud</h1>
        <p>get cloud information for your city</p>
    </div>
    <form action="/" method="POST">
        <input type="text" name="city" class="ghost-input" placeholder="Enter a city">
    
    </form> 
    
    <div class="result">
        <h1 class="temp">234.88</h1>
        <div class="icons-des">
            <img class="icon" src="https://openweathermap.org/img/w/03n.png" alt="sky conditions">
            <h3>scattered clouds</h3>

        </div>
        <p class="city">Tokyo</p>
    </div>
</body>
</html>