<h1>gday gamers dj darqs here</h1>
<p>I am quitting IIDX because I dont like it anymore</p>
<%= aJSMessage %>

<% console.log("this message brought to you by EJS") %>

<script>
    console.log("good day gamers this is scripts on scripts action")
</script>