<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>rain.cloud</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
    <header>
      <nav>
        <ul class="topnav">
          <li class="topcon1">
            <img class ="topcon" src="/icons/pngegg.png" alt="">
          </li>
          <li>
            <a href="/">Home</a>
          </li>
          <li>
            <a href="/user">User Account</a>
          </li>
          <li>
            <a href="/user_location">User Locations</a>
          </li>
        </ul>
        </nav>
    </header>
  <%- body %>
</body>
</html>