<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>rain.cloud</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
    <header>
  <div class="compass-icon"><img src="/icons/pngegg.png" alt=""></div>
  <a href="/user">Sign Up Here</a>
    </header>
  <%- body %>
</body>
</html>