<h1>rain.cloud</h1>
   
     <form method="POST" action="/user_location"> 
        <label for="userName">Username:</label> 
        <input id="userName" type="text" name="name" /> 
        <input type="submit" /> 
     </form>
   
