* {
    margin: 0;
    padding: 0;
    
}
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    background-color: rgb(211, 227, 230);
}

header {
    height: 50px;
    width: 100%;
    background: rgb(187, 161, 199);
}

.topcon {
    width: 60px;
    height: 60px;
}

.topcon1 {
    list-style-type: none;
}

.topnav {
    overflow: auto;
}

li {
    width: 20%;
    float: left;
    margin:2.5%;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: lightcyan;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: goldenrod;
    background-color: transparent;
    text-decoration: underline;
}